<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME</title>
</head>
<body>
    <p style="background-image:url('clouds.jpg');">
                
         </p>
    <left>
        <h1>
        <img
            style="background-image: "
            width="100%"
            src="https://hdqwalls.com/download/1/titanic-movie-full-hd.jpg"
    />
            </h1>
            <form action="http://localhost:5000/hasil" method="post">
            <p>
                <input name="jenis kelamin" type="text" placeholder="pria / wanita"></p>
            <p>
                <input name="Usia" type="text" placeholder="usia"></p>
            <p>
                <input name="Saudara" type="text" placeholder="Saudara"></p>
            <p>
                <input name="Orang tua" type="text" placeholder="Orang tua"></p>
            <p>
                <input name="tarif" type="text" placeholder="tarif"></p>
            <p>
                <input type="submit" value="Cari">
            </p>
            </form>
        </left></body>
</html>